<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ node_id }} Management</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
	<link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Warehouse {{ node_id }} Management</h1>
            <a href="/logout" class="logout-link">Logout</a>
        </div>

        <div class="card">
            <h3>Welcome, {{ username }}</h3>
        </div>

        <h2>Inventory</h2>
		<table border="1" id="inventoryTable">
			<thead>
				<tr>
					<th>Product ID</th>
					<th>Stock</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>

        <h2>My Requests</h2>
		<table border="1" id="myRequestsTable">
			<thead>
				<tr>
					<th>UUID</th>
					<th>Destination Node</th>
					<th>Product ID</th>
					<th>Stock</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>

        <h2>Other's Requests</h2>
		<table border="1" id="requestsTable">
			<thead>
				<tr>
					<th>UUID</th>
					<th>Requester Node</th>
					<th>Product ID</th>
					<th>Stock</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>

		<h2>Products</h2>
		<table border="1" id="productsTable">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Description</th>
					<th>Minimum Stock</th>
					<th>Unit Price</th>
					<th>Weight</th>
					<th>Expiration Date</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>

		<h2>Transactions</h2>
		<table border="1" id="transactionsTable">
			<thead>
				<tr>
					<th>Sender</th>
					<th>Receiver</th>
					<th>Product ID</th>
					<th>Stock</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>

		<div class="card">
			<h2>Add Product</h2>
            <form id="add-product-form">
                <div class="form-control">
                    <label for="add-product">Product ID:</label>
					<input type="text" id="add-product-id" name="product-id" required>
                </div>
                <div class="form-control">
                    <label for="add-product-name">Product name:</label>
                    <input type="text" id="add-product-name" name="product-name" required>
                </div>
                <div class="form-control">
                    <label for="add-product-description">Description:</label>
                    <input type="text" id="add-product-description" name="product-description" required>
                </div>
				<div class="form-control">
					<label for="add-product-minimum-stock">Minimum Stock:</label>
					<input type="number" id="add-product-minimum-stock" name="product-minimum-stock" required>
				</div>
				<div class="form-control">
                    <label for="add-product-unit-price">Unit Price:</label>
                    <input type="number" id="add-product-unit-price" name="product-unit-price" step="any" required>
                </div>
				<div class="form-control">
                    <label for="add-product-weight">Weight:</label>
                    <input type="number" id="add-product-weight" name="product-weight" step="any" required>
                </div>
                <div class="form-control">
					<label for="add-product-expiration-date">Expiration Date:</label>
                    <input type="date" id="add-product-expiration-date" name="product-expiration-date" required>
                </div>
				<button type="submit" class="btn">Add</button>
            </form>
		</div>

		<div class="card">
			<h2>Delete Product</h2>
            <form id="delete-product-form">
                <div class="form-control">
                    <label for="delete-product">Product ID:</label>
					<input type="text" id="delete-product-id" name="product-id" required>
                </div>
				<button type="submit" class="btn">Delete</button>
            </form>
		</div>

        <div class="form-grid">
            <div class="card">
                <h2>Buy Product</h2>
                <form id="buy-form">
                    <div class="form-control">
                        <label for="seller-buy">Seller:</label>
                        <input type="text" id="seller-buy" name="seller" required>
                    </div>
                    <div class="form-control">
                        <label for="product-buy">Product ID:</label>
						<input type="text" id="product-id-buy" name="product-id"required>
                    </div>
                    <div class="form-control">
                        <label for="stock-buy">Quantity:</label>
                        <input type="number" id="stock-buy" name="stock" required>
                    </div>
                    <button type="submit" class="btn">Buy</button>
                </form>
            </div>

            <div class="card">
                <h2>Sell Product</h2>
                <form id="sell-form">
                    <div class="form-control">
                        <label for="client-sell">Client:</label>
                        <input type="text" id="client-sell" name="client" required>
                    </div>
                    <div class="form-control">
                        <label for="product-sell">Product ID:</label>
                        <input type="text" id="product-id-sell" name="product-id"required>
                    </div>
                    <div class="form-control">
                        <label for="stock-sell">Quantity:</label>
                        <input type="number" id="stock-sell" name="stock" required>
                    </div>
                    <button type="submit" class="btn">Sell</button>
                </form>
            </div>
        </div>

        <div class="card">
            <h2>Send Request</h2>
            <form id="send-request-form">
                <div class="form-control">
                    <label for="destination-node-request">Destinatio Node:</label>
                    <input type="text" id="destination-node-request" name="destination-node" required>
                </div>
                <div class="form-control">
                    <label for="product-id-request">Product ID:</label>
                    <input type="text" id="product-id-request" name="product-id" required>
                </div>
                <div class="form-control">
                    <label for="stock-request">Stock:</label>
                    <input type="number" id="stock-request" name="stock" required>
                </div>
                <button type="submit" class="btn">Send</button>
            </form>
        </div>

		<div class="card">
            <h2>Send Query</h2>
            <form id="send-query-form">
                <div class="form-control">
                    <label for="destination-node-query">Destination Node:</label>
                    <input type="text" id="destination-node-query" name="destination-node" required>
                </div>
                <div class="form-control">
                    <label for="product-id-query">Product ID:</label>
                    <input type="text" id="product-id-query" name="product-id" required>
                </div>
                <div class="form-control">
                    <label for="stock-query">Stock:</label>
                    <input type="number" id="stock-query" name="stock" required>
                </div>
                <button type="submit" class="btn">Send</button>
            </form>
        </div>
    </div>

    <script type="module" src="../static/scripts/dist/main.js"></script>
</body>
</html>

